:root {
    --color-bg: #000;
    --color-text: #fff;
    --color-nav: rgb(47, 138, 190);
    --legenda: #FFDE21;
    --font-primary: "Archivo Black", sans-serif;
    --font-secondary: "Sekuya", system-ui;
}